### QUESTION 1: HOW DID THE MOTORCYCLE PARK EVOLVE BETWEEN 2007 AND 2018?

In [1]:
import pandas as pd
import numpy as np

#### Motorcycle Potential Rider Population

In [2]:
population = pd.read_csv('../questions/barcelona_datasets/poblacio/padro/2007_padro_edat_any_a_any_per_sexe.csv')
population = population[population['Edat_any_a_any'].isin(['15 anys', '16 anys', '17 anys', '18 anys', '19 anys', '20 anys', '21 anys',
                                                           '22 anys', '23 anys', '24 anys', '25 anys', '26 anys', '27 anys', '28 anys', 
                                                           '29 anys', '30 anys', '31 anys', '32 anys', '33 anys', '34 anys', '35 anys',
                                                           '36 anys', '37 anys', '38 anys', '39 anys', '40 anys', '41 anys', '42 anys',
                                                           '43 anys', '44 anys', '45 anys', '46 anys', '47 anys', '48 anys', '49 anys',
                                                           '50 anys', '51 anys', '52 anys', '53 anys', '54 anys', '55 anys', '56 anys',
                                                           '57 anys', '58 anys', '59 anys', '60 anys', '61 anys', '62 anys', '63 anys',
                                                           '64 anys', '65 anys', '66 anys', '67 anys', '68 anys', '69 anys', '70 anys',
                                                           '71 anys', '72 anys', '73 anys', '74 anys', '75 anys'])]
                                                                                                                       
population

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre
1110,2007,1,Ciutat Vella,1,el Raval,Home,15 anys,162
1111,2007,1,Ciutat Vella,2,el Barri Gòtic,Home,15 anys,41
1112,2007,1,Ciutat Vella,3,la Barceloneta,Home,15 anys,45
1113,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,15 anys,61
1114,2007,2,Eixample,5,el Fort Pienc,Home,15 anys,111
...,...,...,...,...,...,...,...,...
12723,2007,10,Sant Martí,70,el Besòs i el Maresme,Dona,75 anys,170
12724,2007,10,Sant Martí,71,Provençals del Poblenou,Dona,75 anys,100
12725,2007,10,Sant Martí,72,Sant Martí de Provençals,Dona,75 anys,207
12726,2007,10,Sant Martí,73,la Verneda i la Pau,Dona,75 anys,185
12727,2007,99,No consta,99,No consta,Dona,75 anys,9

In [3]:
population_ct = pd.crosstab(index=population['Nom_Districte'], columns=['Nombre'],
                  values=population['Nombre'], aggfunc='sum')
population_ct

col_0                Nombre
Nom_Districte
Ciutat Vella          93443
Eixample             204175
Gràcia                94199
Horta-Guinardó       131849
Les Corts             64182
No consta               683
Nou Barris           130008
Sant Andreu          113380
Sant Martí           175726
Sants-Montjuïc       141444
Sarrià-Sant Gervasi  104847

In [4]:
sum_population_ct = population_ct['Nombre'].sum()
sum_population_ct

1253936

#### Vehicle Total Park

In [5]:
total_park = pd.read_csv('../questions/barcelona_datasets/vehicles/car_park_tipology/2007_tipologia_parc_vehicles.csv')
total_park = total_park[total_park.Nom_Districte != "No consta"]
total_park

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Tipologia_parc,Nombre_vehicles
0,2007,1,Ciutat Vella,1,el Raval,Turismes,8604
1,2007,1,Ciutat Vella,2,el Barri Gòtic,Turismes,7366
2,2007,1,Ciutat Vella,3,la Barceloneta,Turismes,4320
3,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Turismes,6043
4,2007,2,Eixample,5,el Fort Pienc,Turismes,11757
...,...,...,...,...,...,...,...
438,2007,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Altres vehicles,174
439,2007,10,Sant Martí,70,el Besòs i el Maresme,Altres vehicles,198
440,2007,10,Sant Martí,71,Provençals del Poblenou,Altres vehicles,348
441,2007,10,Sant Martí,72,Sant Martí de Provençals,Altres vehicles,214
442,2007,10,Sant Martí,73,la Verneda i la Pau,Altres vehicles,364

In [6]:
sum_total_park = total_park['Nombre_vehicles'].sum()
sum_total_park

980465

#### Motorcycle Total Park

In [7]:
motocyclo_park = total_park[total_park['Tipologia_parc'].isin(['Motos', 'Ciclomotors'])]
motocyclo_park

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Tipologia_parc,Nombre_vehicles
74,2007,1,Ciutat Vella,1,el Raval,Motos,2494
75,2007,1,Ciutat Vella,2,el Barri Gòtic,Motos,3802
76,2007,1,Ciutat Vella,3,la Barceloneta,Motos,1258
77,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Motos,2133
78,2007,2,Eixample,5,el Fort Pienc,Motos,3427
...,...,...,...,...,...,...,...
216,2007,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Ciclomotors,304
217,2007,10,Sant Martí,70,el Besòs i el Maresme,Ciclomotors,1034
218,2007,10,Sant Martí,71,Provençals del Poblenou,Ciclomotors,971
219,2007,10,Sant Martí,72,Sant Martí de Provençals,Ciclomotors,1266
220,2007,10,Sant Martí,73,la Verneda i la Pau,Ciclomotors,1456

In [8]:
sum_motocyclo_park = motocyclo_park['Nombre_vehicles'].sum()
sum_motocyclo_park

276646

#### Absolut Values of Motorcycle Total Park and Potential Riders

In [9]:
motocyclo_park_abs = pd.crosstab(index=motocyclo_park['Nom_Districte'], columns=['Tipologia_parc'], values=motocyclo_park['Nombre_vehicles'], aggfunc=['sum'])
motocyclo_park_abs = motocyclo_park_abs.merge(right=population_ct, how='left', on='Nom_Districte')
motocyclo_park_abs.columns = ['Motos & Cyclomotos', 'Potential Riders']
motocyclo_park_abs.index.names = ['2007']
motocyclo_park_abs

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                     Motos & Cyclomotos  Potential Riders
2007
Ciutat Vella                      15965             93443
Eixample                          50406            204175
Gràcia                            24867             94199
Horta-Guinardó                    29174            131849
Les Corts                         18651             64182
Nou Barris                        18468            130008
Sant Andreu                       18008            113380
Sant Martí                        28873            175726
Sants-Montjuïc                    26686            141444
Sarrià-Sant Gervasi               45548            104847

In [10]:
motocyclo_park_abs.to_csv('motocyclo_park_abs_2007.csv')

#### % Ratio of Motorcycles per Potential Riders

In [11]:
columns = motocyclo_park_abs[:-1]
columns

for col in columns:
    motocyclo_park_abs[col] = motocyclo_park_abs[col]/motocyclo_park_abs['Potential Riders']*100
    motocyclo_park_rat = motocyclo_park_abs
motocyclo_park_rat.index.names = ['2007']
motocyclo_park_rat

                     Motos & Cyclomotos  Potential Riders
2007
Ciutat Vella                  17.085282             100.0
Eixample                      24.687645             100.0
Gràcia                        26.398369             100.0
Horta-Guinardó                22.126827             100.0
Les Corts                     29.059549             100.0
Nou Barris                    14.205280             100.0
Sant Andreu                   15.882872             100.0
Sant Martí                    16.430693             100.0
Sants-Montjuïc                18.866831             100.0
Sarrià-Sant Gervasi           43.442349             100.0

In [12]:
motocyclo_park_rat.to_csv('motocyclo_park_rat_2007.csv')