In [2]:
import pandas as pd
import numpy as np

In [3]:
accidents=pd.read_csv('../datasets/data/Question456/2013_ACCIDENTS_PERSONES_GU_BCN_.csv', encoding= 'unicode_escape')
accidents.columns

Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Descripció torn',
       'Hora de dia', 'Descripció causa vianant',
       'Desc. Tipus vehicle implicat', 'Descripció sexe',
       'Descripció tipus persona', 'Edat', 'Descripció victimització',
       'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

In [4]:
accidents.head(3)

,Número d'expedient,Codi districte,Nom districte,Codi barri,Nom barri,Codi carrer,Nom carrer,Num postal caption,Descripció dia setmana,Dia setmana,...,Descripció torn,Hora de dia,Descripció causa vianant,Desc. Tipus vehicle implicat,Descripció sexe,Descripció tipus persona,Edat,Descripció victimització,Coordenada UTM (Y),Coordenada UTM (X)
0,2013S000529,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,28000,Augusta,0061 0061,Dimecres,Dc,...,Nit,0,No és causa del vianant,Turismo,Home,Conductor,32,Ferit lleu,"4583707,15","429170,30"
1,2013S000535,10,Sant Martí,64,el Camp de l'Arpa del Clot,226400,Las Navas de Tolosa,0329 0329,Dimecres,Dc,...,Matí,7,No és causa del vianant,Ciclomotor,Home,Conductor,39,Ferit lleu,"4585527,16","431983,63"
2,2013S000072,10,Sant Martí,64,el Camp de l'Arpa del Clot,109101,Enamorats,0152 0152,Divendres,Dv,...,Tarda,17,No és causa del vianant,Tractocamión,Dona,Vianant,80,Ferit lleu,"4584645,89","431991,79"

In [13]:
accidents.columns=['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn','Hora_dia',
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada UTM (Y)', 'Coordenada UTM (X)']

In [14]:
motocyclo_accidents=accidents.drop(['Codi_districte', 'Codi_barri', 'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ', 'Dia_setmana', 'Descripcio_tipus_dia', 
             'Descripcio_causa_vianant', 'Coordenada UTM (Y)', 'Coordenada UTM (X)'], axis=1, inplace=True)

In [15]:

motocyclo_accidents = accidents[accidents['Desc_Tipus_vehicle_implicat'].isin(['Motocicleta', 'Ciclomotor'])]
motocyclo_accidents = motocyclo_accidents[motocyclo_accidents.Edat != "Desconegut"]
motocyclo_accidents = motocyclo_accidents[motocyclo_accidents.Nom_districte != "Desconegut"]
motocyclo_accidents = motocyclo_accidents[motocyclo_accidents.Descripcio_sexe != "Desconegut"]
motocyclo_accidents['Edat'] = motocyclo_accidents['Edat'].astype(str).astype(int)
motocyclo_accidents = motocyclo_accidents[['Any', 'Numero_expedient', 'Nom_districte', 'Descripcio_dia_setmana', 'Mes_any', 'Nom_mes', 'Dia_mes', 
                                           'Hora_dia', 'Desc_Tipus_vehicle_implicat', 'Descripcio_sexe', 'Edat', 'Descripcio_tipus_persona', 'Descripcio_victimitzacio']]

In [16]:
motocyclo_accidents

,Any,Numero_expedient,Nom_districte,Descripcio_dia_setmana,Mes_any,Nom_mes,Dia_mes,Hora_dia,Desc_Tipus_vehicle_implicat,Descripcio_sexe,Edat,Descripcio_tipus_persona,Descripcio_victimitzacio
1,2013,2013S000535,Sant Martí,Dimecres,1,Gener,23,7,Ciclomotor,Home,39,Conductor,Ferit lleu
5,2013,2013S000077,Sant Andreu,Divendres,1,Gener,4,18,Motocicleta,Home,27,Conductor,Ferit lleu
7,2013,2013S000101,Sants-Montjuïc,Diumenge,1,Gener,6,18,Motocicleta,Home,35,Conductor,Ferit lleu
10,2013,2013S000124,Eixample,Dilluns,1,Gener,7,14,Motocicleta,Home,37,Conductor,Ferit lleu
11,2013,2013S000140,Sants-Montjuïc,Dilluns,1,Gener,7,22,Ciclomotor,Dona,26,Conductor,Ferit lleu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11370,2013,2013S009119,Gràcia,Dimarts,12,Desembre,17,14,Motocicleta,Home,60,Conductor,Ferit lleu
11371,2013,2013S009120,Eixample,Dimarts,12,Desembre,17,16,Motocicleta,Home,25,Conductor,Ferit lleu
11373,2013,2013S009151,Les Corts,Dimecres,12,Desembre,18,13,Motocicleta,Home,35,Conductor,Ferit lleu
11374,2013,2013S009152,Sarrià-Sant Gervasi,Dimecres,12,Desembre,18,12,Motocicleta,Dona,25,Conductor,Ferit lleu
11375,2013,2013S008669,Eixample,Dilluns,12,Desembre,2,11,Motocicleta,Home,58,Conductor,Ferit lleu

In [34]:
motocyclo_accidents["Numero_expedient"].count()

6409

In [17]:
motocyclo_accidents['Nom_districte'].value_counts()

Eixample               2256
Sarrià-Sant Gervasi     804
Sant Martí              668
Sants-Montjuïc          623
Les Corts               479
Horta-Guinardó          399
Gràcia                  348
Sant Andreu             314
Ciutat Vella            309
Nou Barris              209
Name: Nom_districte, dtype: int64

In [18]:
motocyclo_accidents['Descripcio_dia_setmana'].value_counts()

Divendres    1131
Dijous       1103
Dimarts      1060
Dimecres     1050
Dilluns       975
Dissabte      651
Diumenge      439
Name: Descripcio_dia_setmana, dtype: int64

In [19]:
motocyclo_accidents['Nom_mes'].value_counts()

Octubre     634
Juliol      598
Desembre    585
Abril       565
Febrer      549
Novembre    546
Gener       544
Maig        528
Juny        514
Setembre    502
Març        495
Agost       349
Name: Nom_mes, dtype: int64

In [20]:
motocyclo_accidents['Dia_mes'].value_counts()

18    264
19    258
22    254
4     249
15    238
14    232
8     229
11    229
26    225
20    223
5     215
21    214
12    213
13    211
27    203
23    201
30    200
29    196
17    195
3     194
16    194
25    189
6     185
10    183
28    183
2     182
7     182
9     180
24    179
1     178
31    131
Name: Dia_mes, dtype: int64

In [21]:
motocyclo_accidents['Hora_dia'].value_counts()

14    538
13    453
18    452
17    427
20    424
15    420
19    415
9     403
12    390
8     380
16    370
11    331
21    295
10    258
22    200
7     180
23    123
0      90
1      67
6      55
2      48
3      39
4      26
5      25
Name: Hora_dia, dtype: int64

In [22]:
motocyclo_accidents['Desc_Tipus_vehicle_implicat'].value_counts()

Motocicleta    5230
Ciclomotor     1179
Name: Desc_Tipus_vehicle_implicat, dtype: int64

In [23]:
motocyclo_accidents['Descripcio_sexe'].value_counts()

Home    4343
Dona    2066
Name: Descripcio_sexe, dtype: int64

In [24]:
motocyclo_accidents['Age'] = pd.cut(motocyclo_accidents['Edat'], bins=[0, 14, 20, 29, 39, 49, 59, 65, 75, 76], labels=["-14s", "15-20s", "21-29s","30-39s",
                                                                                                                        "40-49s", "50-59s", "60-65s", "66-75s", "+75s"])                                                                                    
motocyclo_accidents.groupby('Age')['Edat'].sum()

Age
-14s        649
15-20s     7895
21-29s    45450
30-39s    64257
40-49s    54741
50-59s    35123
60-65s    11448
66-75s     6583
+75s        760
Name: Edat, dtype: int64

In [25]:
motocyclo_accidents['Descripcio_tipus_persona'].value_counts()

Conductor    5417
Passatger     688
Vianant       304
Name: Descripcio_tipus_persona, dtype: int64

In [26]:
motocyclo_accidents['Descripcio_victimitzacio'].value_counts()

Ferit lleu    6217
Ferit greu     176
Mort            16
Name: Descripcio_victimitzacio, dtype: int64

In [27]:
motocyclo_accidents.groupby(['Nom_districte'])['Descripcio_victimitzacio'].count()

Nom_districte
Ciutat Vella            309
Eixample               2256
Gràcia                  348
Horta-Guinardó          399
Les Corts               479
Nou Barris              209
Sant Andreu             314
Sant Martí              668
Sants-Montjuïc          623
Sarrià-Sant Gervasi     804
Name: Descripcio_victimitzacio, dtype: int64

In [28]:
districte_victimes = pd.crosstab(index=motocyclo_accidents['Nom_districte'], columns=motocyclo_accidents['Descripcio_victimitzacio'], 
                  values=motocyclo_accidents['Numero_expedient'], aggfunc='count')
districte_victimes.columns

Index(['Ferit greu', 'Ferit lleu', 'Mort'], dtype='object', name='Descripcio_victimitzacio')

In [29]:
districte_victimes

Descripcio_victimitzacio  Ferit greu  Ferit lleu  Mort
Nom_districte
Ciutat Vella                     7.0       301.0   1.0
Eixample                        68.0      2185.0   3.0
Gràcia                           5.0       342.0   1.0
Horta-Guinardó                   7.0       390.0   2.0
Les Corts                       13.0       465.0   1.0
Nou Barris                       3.0       205.0   1.0
Sant Andreu                      6.0       308.0   NaN
Sant Martí                      20.0       646.0   2.0
Sants-Montjuïc                  21.0       601.0   1.0
Sarrià-Sant Gervasi             26.0       774.0   4.0

In [30]:
districte_victimes.columns=[["Ferit lleu", "Ferit greu", "Mort"]]

In [31]:
districte_victimes

                    Ferit lleu Ferit greu Mort
Nom_districte
Ciutat Vella               7.0      301.0  1.0
Eixample                  68.0     2185.0  3.0
Gràcia                     5.0      342.0  1.0
Horta-Guinardó             7.0      390.0  2.0
Les Corts                 13.0      465.0  1.0
Nou Barris                 3.0      205.0  1.0
Sant Andreu                6.0      308.0  NaN
Sant Martí                20.0      646.0  2.0
Sants-Montjuïc            21.0      601.0  1.0
Sarrià-Sant Gervasi       26.0      774.0  4.0