In [1]:
import pandas as pd
import numpy as np

In [2]:
population = pd.read_csv('../questions/barcelona_datasets/poblacio/padro/2018_padro_edat_any_a_any_per_sexe.csv')
population = population[population['Edat_any_a_any'].isin(['16 anys', '17 anys', '18 anys', '19 anys', '20 anys', '21 anys',
                                                           '22 anys', '23 anys', '24 anys', '25 anys', '26 anys', '27 anys',
                                                           '28 anys', '29 anys', '30 anys', '31 anys', '32 anys', '33 anys',
                                                           '34 anys', '35 anys', '36 anys', '37 anys', '38 anys', '39 anys',
                                                           '40 anys', '41 anys', '42 anys', '43 anys', '44 anys', '45 anys',
                                                           '46 anys', '47 anys', '48 anys', '49 anys', '50 anys', '51 anys',
                                                           '52 anys', '53 anys', '54 anys', '55 anys', '56 anys', '57 anys',
                                                           '58 anys', '59 anys', '60 anys', '61 anys', '62 anys', '63 anys',
                                                           '64 anys', '65 anys', '66 anys', '67 anys', '68 anys', '69 anys',
                                                           '70 anys', '71 anys', '72 anys', '73 anys', '74 anys', '75 anys',
                                                           ])]
population

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre
1168,2018,1,Ciutat Vella,1,el Raval,Home,16 anys,195
1169,2018,1,Ciutat Vella,2,el Barri Gòtic,Home,16 anys,43
1170,2018,1,Ciutat Vella,3,la Barceloneta,Home,16 anys,50
1171,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,16 anys,94
1172,2018,2,Eixample,5,el Fort Pienc,Home,16 anys,110
...,...,...,...,...,...,...,...,...
12916,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,75 anys,42
12917,2018,10,Sant Martí,70,el Besòs i el Maresme,Dona,75 anys,69
12918,2018,10,Sant Martí,71,Provençals del Poblenou,Dona,75 anys,76
12919,2018,10,Sant Martí,72,Sant Martí de Provençals,Dona,75 anys,172
12920,2018,10,Sant Martí,73,la Verneda i la Pau,Dona,75 anys,155

In [9]:
population_ct = pd.crosstab(index=population['Nom_Districte'], columns=['Nombre'],
                  values=population['Nombre'], aggfunc='sum')
population_ct

col_0                Nombre
Nom_Districte
Ciutat Vella          83753
Eixample             206252
Gràcia                92991
Horta-Guinardó       127560
Les Corts             61419
Nou Barris           124344
Sant Andreu          112382
Sant Martí           180042
Sants-Montjuïc       141440
Sarrià-Sant Gervasi  108167